<ion-card *ngIf="fullSeries$ | async as data">
  <ion-segment
    (ionChange)="getSegmentEvent($any($event))"
    [scrollable]="true"
    value="yearToDate"
  >
    <ion-segment-button value="yearToDate">
      <ion-label class="full-text">Year to Date</ion-label>
      <ion-label class="abbreviation">YTD</ion-label>
    </ion-segment-button>
    <ion-segment-button value="week">
      <ion-label class="full-text">Previous Week</ion-label>
      <ion-label class="abbreviation">Prev. WK</ion-label>
    </ion-segment-button>
    <ion-segment-button value="month">
      <ion-label class="full-text">Previous Month</ion-label>
      <ion-label class="abbreviation">Prev. MTH</ion-label>
    </ion-segment-button>
    <ion-segment-button value="sixMonths">
      <ion-label class="full-text">Previous Six Months</ion-label>
      <ion-label class="abbreviation">Prev. 6 MTH</ion-label>
    </ion-segment-button>
    <ion-segment-button value="year">
      <ion-label class="full-text">Previous Year</ion-label>
      <ion-label class="abbreviation">Prev. YR</ion-label>
    </ion-segment-button>
    <ion-segment-button value="tenYears">
      <ion-label class="full-text">Previous Ten Years</ion-label>
      <ion-label class="abbreviation">Prev. 10 YR</ion-label>
    </ion-segment-button>
    <ion-segment-button value="allTime">
      <ion-label class="full-text">All Time</ion-label>
      <ion-label class="abbreviation">All</ion-label>
    </ion-segment-button>
  </ion-segment>
  <canvas #canvas class="chart" style="max-height: 40vh"></canvas>
  <ion-card-header>
    <ion-card-title>{{ data.metadata?.description?.name }}</ion-card-title>
    <ion-card-subtitle>{{ data.metadata?.mnemonic }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content
    [innerHTML]="data.metadata?.description?.description"
  ></ion-card-content>
  <ion-card-content
    [innerHTML]="data.metadata?.description?.notes"
  ></ion-card-content>
  <ion-card-content
    ><small
      >Office of Financial Research, “OFR Short-term Funding Monitor,” refreshed
      daily,
      <a
        href="https://www.financialresearch.gov/short-term-funding-monitor/"
        target="_blank"
        rel="nofollow noreferrer noopener"
        >https://www.financialresearch.gov/short-term-funding-monitor/</a
      >
      (accessed {{ today | date }}).
    </small></ion-card-content
  >
</ion-card>
