<ion-card *ngIf="fullSeries$ | async as data">
  <ion-segment (ionChange)="getSegmentEvent($any($event))" value="allTime">
    <ion-segment-button value="week">
      <ion-label>Previous Week</ion-label>
    </ion-segment-button>
    <ion-segment-button value="month">
      <ion-label>Previous Month</ion-label>
    </ion-segment-button>
    <ion-segment-button value="sixMonths">
      <ion-label>Previous Six Months</ion-label>
    </ion-segment-button>
    <ion-segment-button value="year">
      <ion-label>Previous Year</ion-label>
    </ion-segment-button>
    <ion-segment-button value="tenYears">
      <ion-label>Previous Ten Years</ion-label>
    </ion-segment-button>
    <ion-segment-button value="yearToDate">
      <ion-label>Year to Date</ion-label>
    </ion-segment-button>
    <ion-segment-button value="allTime">
      <ion-label>All Time</ion-label>
    </ion-segment-button>
  </ion-segment>
  <canvas #canvas class="chart" style="max-height: 40vh"></canvas>
  <ion-card-header>
    <ion-card-title>{{ data.metadata?.description?.name }}</ion-card-title>
    <ion-card-subtitle>{{ data.metadata?.mnemonic }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content
    [innerHTML]="data.metadata?.description?.description"
  ></ion-card-content>
  <ion-card-content
    [innerHTML]="data.metadata?.description?.notes"
  ></ion-card-content>
  <ion-card-content
    ><small
      >Office of Financial Research, “OFR Short-term Funding Monitor,” refreshed
      daily,
      <a
        href="https://www.financialresearch.gov/short-term-funding-monitor/"
        target="_blank"
        rel="nofollow noreferrer noopener"
        >https://www.financialresearch.gov/short-term-funding-monitor/</a
      >
      (accessed {{ today | date }}).
    </small></ion-card-content
  >
</ion-card>
