<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-toggle auto-hide="false">
          <ion-button>
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-title style="display: inline-flex">
        <h1 id="page-title">
          <ion-icon
            style="vertical-align: top; padding-right: 5px"
            name="bar-chart-outline"
            color="secondary"
            aria-label="charts!"
          ></ion-icon>
          STF Monitor
        </h1>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-menu (ionWillOpen)="loadMenu = true" contentId="main-content">
    <ion-content class="ion-padding">
      <h2 id="menu-heading">Mnemonics</h2>
      <ion-accordion-group>
        <app-data-set-selector
          (seriesRequest)="sendSeriesRequest($event)"
          *ngIf="loadMenu"
        ></app-data-set-selector>
      </ion-accordion-group>
    </ion-content>
  </ion-menu>
  <ion-content id="main-content">
    <ion-grid *ngIf="!seriesLoaded">
      <ion-row>
        <ion-col>
          <figure class="quote">
            <blockquote>
              Short-term funding markets are the core of liquidity and maturity
              transformation in financial markets. They provide financing for
              financial institutions, serve as alternatives to deposits for cash
              investors, and can be used to obtain securities. However, as
              unavoidable consequences of their functions, these critical
              markets are vulnerable to disruptions. Problems faced by financial
              institutions or other parts of the financial system often appear
              as stresses in short-term funding markets. As part of the Office
              of Financial Research’s mission to promote and monitor financial
              stability, the OFR collects a variety of data on these markets.
              The Short-term Funding Monitor presents these data and places them
              in context with other data sources.
            </blockquote>
            <figcaption>
              &mdash; Office of Financial Research,
              <cite
                ><a
                  href="https://www.financialresearch.gov/short-term-funding-monitor/api/"
                  target="_blank"
                  rel="nofollow noreferrer noopener"
                  >https://www.financialresearch.gov/short-term-funding-monitor/api/</a
                ></cite
              >
            </figcaption>
          </figure>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button
            id="select-mnemonic"
            class="ion-margin-top"
            (click)="openMenu()"
            >Select a Mnemonic</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
    <app-series-display
      [series]="series"
      *ngIf="seriesLoaded"
    ></app-series-display>
  </ion-content>
</ion-app>
<!--todo create error handler-->
<!--todo add pwa stuff-->
<!--todo make pulsating button-->
<!--todo make help overlay-->
<!--todo enhance charts-->
<!--todo limit charts by year-->
<!--todo create navigator-->
<!--todo write tooltip callback unit tests-->
