<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-toggle>
          <ion-button>
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-title style="display: inline-flex">
        <h1>
          <ion-icon style="vertical-align: top; padding-right: 5px" name="bar-chart-outline" color="secondary"
                    aria-label="charts!"></ion-icon>
          STF Monitor
        </h1>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-menu contentId="main-content">
    <ion-content class="ion-padding">
      <h1>Mnemonics</h1>
      <ion-accordion-group>
        <app-data-set-selector (seriesRequest)="sendSeriesRequest($event)"></app-data-set-selector>
      </ion-accordion-group>
    </ion-content>
  </ion-menu>
  <ion-content id="main-content">
    <ion-grid *ngIf="!seriesLoaded">
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button class="ion-margin-top" (click)="openMenu()">Select a Mnemonic</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <app-series-display [series]="series" *ngIf="seriesLoaded"></app-series-display>
  </ion-content>
  <ion-footer>
    <ion-toolbar class="ion-text-center">
      <ion-card-subtitle>
        <a href="https://www.financialresearch.gov/short-term-funding-monitor/api/" target="_blank"
           rel="nofollow noreferrer noopener">Data Provided by The Office of Financial Research</a>
      </ion-card-subtitle>
    </ion-toolbar>
  </ion-footer>
</ion-app>
<!--todo write unit tests-->
<!--todo install cyprus and write tests-->
<!--todo only call mnemonics when menu selected first time-->
<!--todo only call data set when accordion expanded-->
<!--todo add TypeScript type guards-->
<!--todo add skeletons to menu-->
<!--todo remove heading on chart and change x axis to have symbol-->
<!--todo have chart rerender on data change-->
<!--todo make x and y axis dynamic based on chart-->
<!--todo add aria attributes from axe results-->
